{% extends 'layout.html' %}
{% block head %}
<title>Halaman Home</title>
{% endblock %}
{% block body %}
<h1>Halaman Home</h1>
<div class="mb-3"></div>
<a href="/logout" class="btn btn-primary">Logout</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>

        {% for row in users %}
        <tr>
            <th scope="row">{{ row.0 }}</th>
            <td>{{ row.1 }}</td>
            <td>{{ row.2 }}</td>
            <td>{{ row.3 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %} 
